.button {
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 32px 8px 32px;

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.button.primary {
  background-color: rgba(69, 135, 237, 1);
  &:disabled {
    background-color: rgba(54, 121, 238, 0.464);
    cursor: not-allowed;
  }
}

.button.secondary {
  background-color: rgba(228, 229, 232, 1);
}
